<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>View Users</title></head>
<body>
    <h2>View All Users Here</h2>
    <a href="/">+ Add New User</a>
    <table border="1">
        <tr>
            <th>Id</th><th>Name</th><th>Email</th><th>Phno</th><th>Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phno}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a> |
                <a th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>
